<% extend("../mainadmin.ejs") %>

    <script>
        $(document).ready(function () {
            $("#addUser1").click(function () {
                $("#addPoject").modal('show');
            });
        });

        // if (variablesAddRoom.length != 0) {
        //     $(document).ready(function () {
        //         $("#myMessage").modal('show');
        //     });
        // }
        $(document).ready(function () {
            $(".delete-vbden").click(function () {
                if (!confirm('Bạn có muốn xóa sản phẩm này không?')) {
                    return
                }
                let id = $(this).data('deletedata');
                let node = this;
              //  alert(id);
                $.ajax({
                    method: 'POST',
                    url: `${window.location.origin}/admin/deleteProduct`,
                    data: { id: id },
                    success: function (data) {
                        node.closest("tr").remove();
                        alertify.success('Delete succeed!');
                    },
                    error: function (err) {
                        alert(id);
                    }
                });
            });
        });
    </script>


    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">TẤT CẢ SẢN PHẨM</h3>
                        </div>
                        <div>

                            <button id="addUser1" type="button" class="btn btn-primary btnAddRoom">
                                Thêm Sản Phẩm
                            </button>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>TÊN SẢN PHẨM</th>
                                        <th>GIÁ SẢN PHẨM</th>

                                        <th>XEM THÔNG TIN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(alldataproduct.length!=0){ var i=1; alldataproduct.forEach(function(data){ %>
                                        <tr>
                                            <td>
                                                <%=data.id %>
                                            </td>
                                            <td>
                                                <%=data.name %>
                                            </td>

                                            <td>
                                                <%=data.price %>
                                            </td>


                                            <!-- <td>
                            <a href="/admin/inforproduct?id=<%=data.id%>" class="edit" title="Edit" data-toggle="tooltip"><i
                                class="material-icons"></i>xem thông tin</a>
    
                          </td> -->
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" href="#">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    View
                                                </a>
                                                <a class="btn btn-info btn-sm"
                                                    href="/admin/edituser?id=<%=data.id%>">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Edit
                                                </a>
                                                <a class="btn btn-danger btn-sm delete-vbden"
                                                    data-deletedata="<%= data.id %>" href="#">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xóa Bỏ
                                                </a>
                                            </td>


                                        </tr>
                                        <% i++; }) %>
                                            <% } else{ %>
                                                <tr>
                                                    <td colspan="8">No Data Found</td>
                                                </tr>
                                                <% } %>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <div id="addPoject" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
    
              <h3 class="card-title">THÔNG TIN SẢN PHẨM</h3>
    
            </div>
            <div class="modal-body">
    
              <form role="form" method="post" action="/admin/addProduct">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tên Sản Phẩm</label>
                    <input class="form-control" name="name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Giá Sả Phẩm</label>
                    <input class="form-control" name="price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Link Sản Phẩm</label>
                    <input class="form-control" name="image_link">
                  </div>
                  <div class="form-group col">
                    <label for="exampleInputPassword1">Loại</label>
                    <select class="custom-select form-control-border" name="goitinh" id="chuc_vu">
    
                      <option>Nam</option>
                      <option>Nữ</option>
    
                    </select>
                  </div>
                </div>
                <!-- /.card-body -->
    
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">THÊM</button>
                </div>
              </form>
            </div>
          </div>
    
        </div>
      </div>
      </div>