<% extend("../main.ejs") %>
	<% if (false) { %>
		<h2>
			<%= user.name %>
		</h2>
		<% } %>
			<!-- cách convert dữ liệu
	   https://dzone.com/articles/nodejs-tutorial-for-beginners-part-3-transferring -->
			<div class="checkout">
				<div class="container">
					<h3>My Shopping Bag</h3>
					<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
						<table class="timetable_sub">
							<thead>
								<tr>
									<th>Remove</th>
									<th>Product</th>
									<th>Quantity</th>
									<th>Product Name</th>
									<th>Price</th>
								</tr>
							</thead>


							<% if(allproduct.length!=0){ var i=1; allproduct.forEach(function(data){ %>
								<tr class="data<%=data.id%>">
									<td class="invert-closeb">
										<div class="rem">
											<!-- <div class="close1"> </div> -->
											<!-- <button onclick="deleteItem('data<%=data.id%>')">X</button> -->
											<button>
												<a href="/checkoutdeleteit?id=<%=data.id%>" >Delete</a>
											</button>
											
										</div>
									</td>
									<!-- class="invert-image" -->
									<td ><a href="single.html"><img src="<%=data.image_link%>" alt=" "
												class="img-responsive edithwimge" /></a></td>
									<td class="invert">
										<div class="quantity">
											<div class="quantity-select">
												<!-- <div class="entry value-minus">&nbsp;</div>
															<div class="entry value"><span>1</span></div>
															<div class="entry value-plus active">&nbsp;</div> -->
												<!-- <button onclick="addItem()">-</button>
															<button onclick="subItem()">+</button> -->

												<button id="btn1<%=data.id%>" class="entry value-minus"
													onclick="addItem()">-</button>
												<div id="value<%=data.id%>" class="entry value"><span>1</span></div>
												<button id="btn2<%=data.id%>" class="entry value-plus"
													onclick="addItem()">+</button>
											</div>
										</div>
									</td>
									<td class="invert"><%=data.name%></td>
									<td class="invert" id="price<%=data.id%>"><span>240</span></td>

									<script>
										$(document).ready(function () {
											$("#btn1<%=data.id%>").click(function () {
												var number = parseInt($("#value<%=data.id%>").text());
												var price = parseInt($("#price<%=data.id%>").text());
												if (number > 0) {
													$("#value<%=data.id%>").text(number - 1);
													$("#price<%=data.id%>").text(price + price);
												}
											});
											$("#btn2<%=data.id%>").click(function () {
												var number = parseInt($("#value<%=data.id%>").text());
												$("#value<%=data.id%>").text(number + 1);
											});
										});
									</script>

								</tr>
								<% i++; }) %>
									<% } else{ %>
										<% } %>
						</table>
					</div>
					<div class="checkout-left">

						<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
							<a href="mens.html"><span class="glyphicon glyphicon-menu-left"
									aria-hidden="true"></span>Back To
								Shopping</a>
						</div>
						<div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
							<h4>Thành Tiền</h4>
							<ul>
								<% if(allproduct.length!=0){ var i=1; allproduct.forEach(function(data){ %>

								<li><%=data.name%><i>-</i> <span><%=data.price%></span></li>
								<% i++; }) %>
									<% } else{ %>
										<% } %>
							</ul>
							<button>
								<a href="/order" >Thanh toán</a>
							</button>
						</div>
					
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>